/* SPDX-License-Identifier: BSD-3-Clause
 * Copyright © 2020 toastal purescript-halogen-donut
 */
@keyframes Donut-spinner--dashlength {
    0% {
        stroke-dashoffset: 0;
        stroke-dasharray: 60.24 40.6;
    }
    50% {
        stroke-dasharray: 1 100;
    }
    100% {
        stroke-dashoffset: 201.68;
        stroke-dasharray: 60.24 40.6;
    }
}

@keyframes Donut-spinner--ringspin {
    0% {
        transform: rotate(0turn);
    }
    100% {
        transform: rotate(1turn);
    }
}

.Donut {
    width: 100%;
    height: 100%;
}

.Donut circle {
    stroke: currentColor;
    stroke-width: 4;
    stroke-dasharray: 60.24, 40.6;
    fill: none;
    stroke-linecap: butt;
    stroke-dashoffset: 0;
    transform-origin: 50% 50%;
}


.Donut .Donut-wheel {
    stroke: var(--Donut-wheel, none);
    stroke-dasharray: unset;
}

.Donut .Donut-heart {
    stroke: var(--Donut-heart, currentColor);
}

.Donut--progress .Donut-heart {
    transition: stroke-dasharray 200ms ease;
}

.Donut--spinner .Donut-heart {
    will-change: stroke-dashoffset stroke-dasharray;
    animation:
        Donut-spinner--dashlength 1.75s linear 0s reverse infinite both,
        Donut-spinner--ringspin 4s linear 0s normal infinite both;
}
